{% extends "layout/_base.html" %}

{% block title %}CHANEL{% endblock %}
{% block head %}
    {{ parent() }}
    {% block css%}
    <link rel="stylesheet" href="../dist/styles.css" />
    {% endblock %}
{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block container %}
    <section class="container" role="application">
        <ul class="listing">
            {% for product in products %}
                <li>
                    <div class="card">
                        <figure>
                            <img class="card-img-top" src="../images/{{ product.image }}" alt="Alt text" />
                        </figure>
                        <div class="card-body">
                            <span>
                                <h1 class="card-title">{{ product.name }}</h1>
                            </span>
                            {# <h6 class="card-text">{{ product.description }}</h6> #}
                        </div>
                        <button class="btn btn-primary btn--standard" onclick="window.location.href='/products/view/{{ product.id }}'" title="View more">View More</button>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
